{% extends '../layout/default.njk' %}

{% block body %}
    <main class="layout layout--home">
        <div class="layout__main">
            {% organism 'article-list', 'article-list.json' %}
        </div>

        <div class="layout__aside">
            {% organism 'add-article', 'add-article.json' %}
        </div>

        <div class="layout__sticky-footer">
            {% organism 'search-bar', 'search-bar.json' %}
        </div>
    </main>
{% endblock %}
