<form class="search-bar" action="">
    <fieldset class="search-bar__field">
        <legend class="hide--sr">Search</legend>

        <label class="hide--sr" for="search">Search</label>

        <div class="search-bar__flex-container">
            <input class="search-bar__input" id="search" type="text">
            <button class="search-bar__submit">Search</button>
        </div>
    </fieldset>
</form>
