.reading-time {
    color: $color-white;
    text-decoration: none;

    &::after {
        content: '';
        @include square(1.3em);
        display: inline-block;
        margin: 0 0 0 .3rem;

        @include icon('clock');
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: sub;
    }

    @include hocus {
        text-decoration: underline;
    }
}
