<section class="article-list">
    <h2 class="article-list__title">{{ data.title }}</h2>
    <ol class="article-list__list"
        data-module="02_organism/article-list/Article-list"
        data-render-name="article-preview"
        data-render-type="molecule"
        data-render-class="article-list__item"
        data-render-id="blaaat"
        data-render-containing-element="li"
        data-data-url="http://localhost:8080/"
    >

    </ol>
</section>
