<section class="article-list">
    <h2 class="article-list__title">{{ data.title }}</h2>
    <ol class="article-list__list"
        data-module="02_organism/article-list/Article-list"
        data-list-item-name="article-preview"
        data-list-item-type="molecule"
    >
    </ol>
</section>
