$max-single-item-width: 28rem;

.article-list {

    &__title {
        margin: 2rem 0;
    }

    &__list {
        margin: 0;
        padding: 0;

        @media (min-width: 500px) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax($max-single-item-width, auto));
            grid-auto-flow: dense;
            grid-gap: 1rem;
        }
    }
    &__item {
        max-width: $max-single-item-width;
        display: inline-block;
        margin: 1em;
        padding: 0;

        list-style-type: none;

        @supports (display: grid) {
            max-width: 100%;
            margin: 0;
        }

        transition: .5s opacity;
    }
    &__item--hide {
        opacity: 0;
    }
}
