<div class="article-preview">
    <a class="article-preview__title" href="{{ link }}">
        {% atom 'title-h3', data %}
    </a>

    <div class="article-preview__author">
        {% atom 'author', data %}
    </div>

    <div class="article-preview__link">
        {% atom 'base-url', data %}
    </div>

    <div class="article-preview__time">
        {% atom 'reading-time', data %}
    </div>

    <div class="article-preview__tags">
        {% atom 'tags', data %}
    </div>
</div>
