$horizontal-padding: 1.4375rem;
$vertical-padding: 1.4375rem;

.article-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: $horizontal-padding $vertical-padding;

    background-color: $color-primary;
    border-radius: $default-border-radius;
    color: $color-white;

    &__title {
        display: block;
        text-decoration: none;
    }

    &__time {
        position: absolute;
        top: $horizontal-padding;
        right: $vertical-padding;
    }

    &__author {
        margin-left: auto;
    }

    &__link {
        order: -1;
    }

    &__tags {
        margin-top: 2rem;
    }
}
