<form class="add-article"
    method="POST"
    action="http://localhost:8080/add-article"
    data-module="02_organism/add-article/Add-article">

    <fieldset class="add-article__section">
        <legend class="add-article__title h2">{{ data.title }}</legend>

        {% for input in data.inputs %}
            {% molecule 'label-input', input %}
        {% endfor %}

        <div class="add-article__submit">
            {% atom 'button', 'button.json' %}
        </div>
    </fieldset>
</form>






