<ul class="tags">
    {%- for tag in data.tags -%}
        <li class="tags__tag">
            <a class="tags__link" href="/tags?tags={{ tag }}">
                <span class="tags__icon">#</span>{{ tag }}
            </a>
        </li>
    {%- endfor -%}
</ul>
