{#{% from '../notification/notification.njk' import notification %}#}

<div class="digid">
    <div class="digid__action">
        <picture class="digid__logo">
            <source type="image/svg+xml" srcset="{{ viewModel.logoUrlSvg }}">
            <img src="{{ viewModel.logoUrlPng }}" alt="{{ content.digidAlt }}" class="digid__img">
        </picture>

        <div class="digid__trigger">
            <a class="cta" href="{{ content.signInUrl }}">{{ content.inloggen }}</a>
            <p class="digid__description">{{ content.digidDescription }}</p>
        </div>
    </div>

    {#{{ notification('info',#}
        {#content.cancel.title,#}
        {#content.cancel.description#}
    {#) }}#}
</div>
