<nav class="nav-sidebar nav-sidebar--{{ data.position }}">
    <ul class="nav-sidebar__list">
        <li class="nav-sidebar__item">{% atom 'square-button', data.addLink %}</li>
        <li class="nav-sidebar__item">{% atom 'square-button', data.toggleLayout %}</li>
    </ul>
</nav>
